*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #f6f8f9;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    height: 100px;
    background-color: #ffffff;
}

#title-logo{
    vertical-align: 25px;
    font-size: 50px;
    padding-left: 5px; 
}

.header-logo{
    height: 80px;
    margin-top: 10px;
    padding-left: 20px;
}

nav{
    background-color: #ffffff;
    height: 60px;
    margin: 50px 150px 5px 150px;
    border-radius: 5px 5px 0px 0px;
}

/* Button */
#first-button{
    width: 90px;
    height: 30px;
    background-color: #47adf1;
    color: #ffffff;
    border-radius: 5px 5px 5px 5px;
    border-color: #47adf1;
    font-size: 15px;
    margin: 20px 0px 5px 50px;
    outline-color: #dce0e3;  
}

#second-button{
    width: 100px;
    height: 30px;
    background-color: #ffffff;
    color: #dce0e3;
    border-radius: 5px 5px 5px 5px;
    border-color: #dce0e3;
    font-size: 15px;
    margin: 20px 0px 5px 0px;
    outline-color: #47adf1;  
}
/* end Button */

main{
    background-color: #ffffff;
    height: 820px;
    margin: 0px 150px 20px 150px;
    border-radius: 0px 0px 5px 5px;
}

.section-title{
    font-weight: bold;
    font-size: 30px;
    padding-left: 50px;
    padding-top: 50px;
}

.container{
    padding-bottom: 10px;
    padding-top: 20px;
    padding-left: 50px;
    
}

/* Check&cross */
.yes-box{
    padding: 2px 6px 2px 6px;
    font-size: 15px;
    border-style: solid;
    color: #64c0a9;
    border-radius: 50%;
    border-color: #64c0a9;   
}
/* endCheck&cross */

.no-box{
    padding: 2px 7px 2px 7px;
    font-size: 15px;
    border-style: solid;
    color: #eb4d43;
    border-radius: 50%;
    border-color: #eb4d43;  
}

.internal-text{
    font-size: 22px;
}

/* Colored ovals */
.blueoval{
    background-color: #47adf1;
    border-radius: 35%;
    font-size: 15px;
    color: #ffffff;
    padding: 8px 10px 8px 10px;
}

.purpleoval{
    background-color: #9c72e4;
    border-radius: 35%;
    font-size: 15px;
    color: #ffffff;
    padding: 8px 10px 8px 10px;
}

.dgreenoval{
    background-color: #64c0a9;
    border-radius: 35%;
    font-size: 15px;
    color: #ffffff;
    padding: 8px 10px 8px 10px;
}

.orangeoval{
    background-color: #f29e33;
    border-radius: 35%;
    font-size: 15px;
    color: #ffffff;
    padding: 8px 10px 8px 10px;
}

.fuxiaoval{
    background-color: #d863a1;
    border-radius: 35%;
    font-size: 15px;
    color: #ffffff;
    padding: 8px 10px 8px 10px;
}

.lgreenoval{
    background-color: #b0c926;
    border-radius: 35%;
    font-size: 15px;
    color: #ffffff;
    padding: 8px 10px 8px 10px;
}
/* end Colored ovals */